body {
    font-family: Lato, sans-serif;
}

h1 {
    font-weight: bold;
    color: maroon;
}

code {
    color: inherit;
}

footer {
    border-top: 1px solid grey;
    margin-top: 3em;
}

footer p {
    text-align: center;
    color: grey;
}